.input-group {
    margin-bottom: 15px;
}

input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 65px;
    padding-bottom: 65px;
}

.glyphicon {
    margin-right: 15px;
    margin-left: 10px;
    color: white;
}

.glyphicon-cog {
    margin-right: 15px;
    color: #337ab7;
}

.glyphicon-align-justify {
    margin-right: 2px;
    margin-left: 2px;
    color: black;
}

.navbar-default {
    background-color: #337ab7;
}

.navbar-default .navbar-brand {
    color: white;
}

.verticalLine {
    border-left: 1px black;
    position: absolute;
    height: 100%;
    width: 1px;

}