<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/page" class="glyphicon glyphicon-chevron-left"></a>
            </p>
            <a class="navbar-brand" href="#">Edit Page</a>
            <p class="navbar-text pull-right">
                <a href="#/page" class="glyphicon glyphicon-ok"></a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Blog Post">
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Page Title"></input>
        </div>
        <a href="#/page" class="btn btn-danger btn-block">Delete</a>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/profile" class="glyphicon glyphicon-user"></a>
        </p>
    </div>
</nav>
