<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-text navbar-link pull-left">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
        </a>
        <a href="#" class="pull-left navbar-brand">
            Widgets
        </a>
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link navbar-text pull-right">
                  <span class="glyphicon glyphicon-plus">
                  </span>
        </a>

    </div>
</nav>
<div class="container-fluid">
    <div>
        <ul class="list-group">
            <div ng-repeat= "widget in model.widgets" class="list-group-item">
                <div ng-switch="widget.widgetType">

                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>

                    <div ng-switch="widget.size" ng-switch-when="header">
                        <h1 ng-switch-when="1">{{widget.text}}</h1>
                        <h2 ng-switch-when="2">{{widget.text}}</h2>
                        <h3 ng-switch-when="3">{{widget.text}}</h3>
                        <h4 ng-switch-when="4">{{widget.text}}</h4>
                        <h5 ng-switch-when="5">{{widget.text}}</h5>
                        <h6 ng-switch-when="6">{{widget.text}}</h6>
                    </div>
                    <div ng-switch-when="image">
                        <iframe width="560" height="315" ng-src="{{model.checksafeimageurl(widget.url)}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div ng-switch-when="youtube">
                        <iframe width="560" height="315" ng-src="{{model.checksafeyoutubeurl(widget.url)}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div ng-switch-when="html" ng-bind-html="model.checksafehtml(widget.text)">
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="containerfluid">
        <p class="navbar-text pull-left">
            <span class="glyphicon glyphicon-play"></span>
        </p>
        <p class="navbar-text pull-left">
            <span class="glyphicon glyphicon-eye-open"></span>
        </p>
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user"></a>
        </p>
    </div>
</nav>
