<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="glyphicon glyphicon-chevron-left"></a>
            </p>
            <a class="navbar-brand" href="#">Widget Edit</a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updatewidget()" class="glyphicon glyphicon-ok"></a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="form-class">
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADER">
                <ng-include src="'widget-heading.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="IMAGE">
                <ng-include src="'widget-image.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="YOUTUBE">
                <ng-include src="'widget-youtube.view.client.html'"></ng-include>
            </div>
        <a class="btn btn-danger btn-block">Delete</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user"></a>
        </p>
    </div>
</nav>
