<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-text navbar-link pull-left">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
        </a>
        <a href="#" class="pull-left navbar-brand">
            Widgets
        </a>
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link navbar-text pull-right">
                  <span class="glyphicon glyphicon-plus">
                  </span>
        </a>

    </div>
</nav>
<div class="container-fluid">
    <div>
        {{model.widgets}}
        <ul class="list-group">
            <li ng-repeat= "widget in model.widgets" class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{website._id}}/page/{{model.pageId}}/widget/{{model.widget._id}}">
                    {{widget.name}}
                </a>
                <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="containerfluid">
        <p class="navbar-text pull-left">
            <span class="glyphicon glyphicon-play"></span>
        </p>
        <p class="navbar-text pull-left">
            <span class="glyphicon glyphicon-eye-open"></span>
        </p>
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user"></a>
        </p>
    </div>
</nav>
